skills/dify-dsl-generator/examples/data-query-workflow.yml
app:
  description: ユーザーの質問からSQLを生成し、APIでデータを取得。If-Else分岐でエラー処理し結果を整形するワークフロー例
  icon: 🤖
  icon_background: '#E0F2FE'
  mode: workflow
  name: データクエリワークフロー
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.4@cadfd7b0cb7dcb1640cb6d168b1b98f4fafd22ccffdf29be44bdc791aaa16a86
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1700000000010-source-1700000000020-target
      source: '1700000000010'
      sourceHandle: source
      target: '1700000000020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1700000000020-source-1700000000030-target
      source: '1700000000020'
      sourceHandle: source
      target: '1700000000030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: 1700000000030-source-1700000000040-target
      source: '1700000000030'
      sourceHandle: source
      target: '1700000000040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1700000000040-source-1700000000050-target
      source: '1700000000040'
      sourceHandle: case1
      target: '1700000000050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 1700000000040-source-1700000000060-target
      source: '1700000000040'
      sourceHandle: source
      target: '1700000000060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: variable-aggregator
      id: 1700000000050-source-1700000000060-target
      source: '1700000000050'
      sourceHandle: source
      target: '1700000000060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: answer
      id: 1700000000060-source-answer2-target
      source: '1700000000060'
      sourceHandle: source
      target: answer2
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: 質問
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: question
      height: 109
      id: '1700000000010'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 500
            temperature: 0.1
          mode: chat
          name: claude-sonnet-4-6
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: c3d4e5f6-a7b8-9012-cdef-123456789012
          role: system
          text: 'あなたはSQLの専門家です。ユーザーの質問から適切なSQLクエリを生成してください。

            テーブル: orders(id, customer_name, amount, created_at)

            SQLのみを出力してください。説明は不要です。

            '
        - id: d4e5f6a7-b8c9-0123-defa-234567890123
          role: user
          text: '{{#1700000000010.question#}}'
        selected: true
        title: SQL生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1700000000020'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{"sql": "{{#1700000000020.text#}}"}'
          type: json
        desc: ''
        headers: 'Content-Type: application/json'
        method: post
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: データ取得API
        type: http-request
        url: https://api.example.com/query
        variables: []
      height: 137
      id: '1700000000030'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case1
          conditions:
          - comparison_operator: is
            id: e5f6a7b8-c9d0-1234-efab-345678901234
            value: '200'
            variable_selector:
            - '1700000000030'
            - status_code
          id: case1
          logical_operator: and
        desc: ''
        logical_operator: or
        selected: false
        title: 成功判定
        type: if-else
      height: 124
      id: '1700000000040'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_body: str) -> dict:\n    try:\n  \
          \      data = json.loads(response_body)\n        rows = data.get(\"rows\"\
          , [])\n        if not rows:\n            return {\"result\": \"データが見つかりませんでした。\"\
          }\n        # 結果をテキスト形式に整形\n        lines = []\n        for row in rows:\n\
          \            lines.append(str(row))\n        return {\"result\": \"\\n\"\
          .join(lines)}\n    except Exception as e:\n        return {\"result\": f\"\
          データ解析エラー: {str(e)}\"}\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: データ整形
        type: code
        variables:
        - value_selector:
          - '1700000000030'
          - body
          variable: response_body
      height: 52
      id: '1700000000050'
      position:
        x: 1280
        y: 150
      positionAbsolute:
        x: 1280
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings: null
        desc: ''
        selected: false
        title: 結果集約
        type: variable-aggregator
        variables:
        - - '1700000000050'
          - result
        - - '1700000000030'
          - body
      height: 135
      id: '1700000000060'
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1700000000060.output#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 103
      id: answer2
      position:
        x: 1880
        y: 282
      positionAbsolute:
        x: 1880
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.8
  rag_pipeline_variables: []
