skills/dify-dsl-generator/examples/human-input-workflow.yml
app:
  description: LLMが生成した広告文案を内部ユーザーが承認/却下できるワークフロー。却下時はフィードバックをもとに再生成します。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 広告文案承認ワークフロー
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.4@cadfd7b0cb7dcb1640cb6d168b1b98f4fafd22ccffdf29be44bdc791aaa16a86
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1772610476879-source-1772610706969-target
      selected: false
      source: '1772610476879'
      sourceHandle: source
      target: '1772610706969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1772611845884-source-1772611791271-target
      selected: false
      source: '1772611845884'
      sourceHandle: source
      target: '1772611791271'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1772612957775-source-1772612900262-target
      source: '1772612957775'
      sourceHandle: source
      target: '1772612900262'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: human-input
      id: 1772610706969-source-1772613239877-target
      source: '1772610706969'
      sourceHandle: source
      target: '1772613239877'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: template-transform
      id: 1772613239877-approve-1772611845884-target
      source: '1772613239877'
      sourceHandle: approve
      target: '1772611845884'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: template-transform
      id: 1772613239877-reject-1772612957775-target
      source: '1772613239877'
      sourceHandle: reject
      target: '1772612957775'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 広告テーマ入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: 広告テーマ・製品情報
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: product_info
      height: 109
      id: '1772610476879'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 1000
            temperature: 0.7
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 9789c094-9d3c-4284-8bcd-b415a5cfb3d8
          role: system
          text: あなたは優秀なコピーライターです。提供された製品情報をもとに魅力的な広告文案を作成してください。
        - id: 3016e4c8-e825-4d6d-b67c-92afca26e90a
          role: user
          text: '{{#1772610476879.product_info#}}'
        selected: false
        title: 広告文案生成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772610706969'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772610706969'
          - text
          value_type: string
          variable: text
        selected: false
        title: 最終文案出力
        type: end
      height: 88
      id: '1772611791271'
      position:
        x: 1429.3155386424335
        y: 326.2135227599808
      positionAbsolute:
        x: 1429.3155386424335
        y: 326.2135227599808
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: '# 承認済み広告文案


          {{ text }}'
        title: 承認済み広告文案
        type: template-transform
        variables:
        - value_selector:
          - '1772610706969'
          - text
          value_type: string
          variable: text
      height: 52
      id: '1772611845884'
      position:
        x: 1076.5429115136894
        y: 342.79922357998174
      positionAbsolute:
        x: 1076.5429115136894
        y: 342.79922357998174
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772612957775'
          - output
          value_type: string
          variable: output
        selected: false
        title: 却下時
        type: end
      height: 88
      id: '1772612900262'
      position:
        x: 1429.3155386424335
        y: 467.7484773121726
      positionAbsolute:
        x: 1429.3155386424335
        y: 467.7484773121726
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: 提案は却下されました
        title: 却下時表示内容
        type: template-transform
        variables: []
      height: 52
      id: '1772612957775'
      position:
        x: 1076.5429115136894
        y: 458.31411503252025
      positionAbsolute:
        x: 1076.5429115136894
        y: 458.31411503252025
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        delivery_methods:
        - enabled: true
          id: 047d7aaa-562c-44b3-a2e6-b8be37375a0d
          type: webapp
        form_content: '# 広告文案レビュー依頼

          以下のAI生成された広告文案をレビューしてください。


          ## 生成された広告文案

          {{#1772610706969.text#}}'
        inputs: []
        selected: false
        timeout: 3
        timeout_unit: day
        title: 人間の入力
        type: human-input
        user_actions:
        - button_style: primary
          id: approve
          title: 承認
        - button_style: default
          id: reject
          title: 却下
      height: 190
      id: '1772613239877'
      position:
        x: 722.1445752650794
        y: 280.00592438685686
      positionAbsolute:
        x: 722.1445752650794
        y: 280.00592438685686
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 95.554866463895
      y: -169.85971007920352
      zoom: 0.9200998751423222
  rag_pipeline_variables: []
