skills/dify-dsl-generator/examples/simple-chatflow.yml
app:
  description: テキストを受け取り、LLMで処理して回答するシンプルなChatflowの最小構成例
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: シンプル要約Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.4@cadfd7b0cb7dcb1640cb6d168b1b98f4fafd22ccffdf29be44bdc791aaa16a86
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1700000000001-source-1700000000002-target
      source: '1700000000001'
      sourceHandle: source
      target: '1700000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1700000000002-source-answer-target
      source: '1700000000002'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: 入力テキスト
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: query
      height: 109
      id: '1700000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 2000
            temperature: 0.7
          mode: chat
          name: claude-sonnet-4-6
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
          role: system
          text: あなたは優秀なAIアシスタントです。ユーザーの入力を簡潔にまとめて回答してください。
        - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
          role: user
          text: '{{#1700000000001.query#}}'
        selected: true
        title: LLM処理
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1700000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1700000000002.text#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
